.background-texture {
  background-image: url("../../public/images/noisy.png");
  background-attachment: local;
}

.background-image-test {
  background-image: url("https://i.imgur.com/KMN1KQ5.jpg");
  background-position: center;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #eaeaea;
}

::-webkit-scrollbar-thumb {
  background-color: #121212;
  border: 2px solid transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply leading-normal #{!important};
}

.min-home-screen {
  height: calc(100vh - 64px);
}

.container-fluid {
  @apply w-full px-4 mx-auto;
}
